In [1]:
a=5
b=5

In [2]:
id(a)

1926127446448

In [3]:
id(b)

1926127446448

def second_lowest(students, scores):
    '''
    input:
    students -> a list of students
    scores -> list of the scores, with each score being that of the ith student
    
    output:
    student_data -> 2d list of data, with each inner list having name of student as 1st and score of 2nd as second element respectively
    second_low_score -> the second lowest score
    second_names -> list of students with score same as second lowest score, in the same order as in the students list
    '''
    
    student_data, second_low_score, second_names = None, None, None
    
    # Your code starts here
    
    
    # Your code ends here
    return student_data, second_low_score, second_names

In [25]:
students = ['S ROY','B BOSE','N KAR','C DUTTA','G GHOSH' ]           
scores = [1,2,2,5,3]

In [10]:
student_data =[]
for a in zip(students, scores):
    student_data.append(list(a))
student_data

[['S ROY', 1], ['B BOSE', 3], ['N KAR', 2], ['C DUTTA', 1], ['G GHOSH', 1]]

In [ ]:
[(lambda x,y: x-y if x>y else y-x)(x,y) for x,y in zip(v1,v2)]

In [37]:
k=100
l=100
student_data.sort(key=[:,1])

SyntaxError: invalid syntax (1271324687.py, line 3)

In [57]:
student_data

[['C DUTTA', 1], ['G GHOSH', 1], ['S ROY', 1], ['N KAR', 2], ['B BOSE', 3]]

In [115]:
scores=list(map(float,scores))
student_data = [(lambda  x:x) (list(x)) for x in zip(students, scores)]
pl=sorted(student_data,key= lambda x:x[1])
k=student_data[0][1]

for x in pl:
    if x[1]>k:
        second_low_score=float(x[1])
        second_names=str(x[0])
        break

In [95]:
scores

[1.0, 3.0, 2.0, 1.0, 1.0]

In [164]:
print(student_data,second_low_score, second_names)

[['S ROY', 4.0], ['B BOSE', 3.0], ['N KAR', 2.0], ['C DUTTA', 5.0], ['G GHOSH', 3.0]] 5.0 ['C DUTTA']

In [37]:
second_low_score, second_names=[],[]

In [38]:
second_low_score=[]
l=0
scores=list(map(float,scores))
student_data = [(lambda  x:x) (list(x)) for x in zip(students, scores)]
second_low_score=list(set(scores))[1]

for a in student_data:
    if a[1]==second_low_score:
        second_names.append(a[0])


        

        
print(student_data,second_low_score, second_names)

[['S ROY', 1.0], ['B BOSE', 2.0], ['N KAR', 2.0], ['C DUTTA', 5.0], ['G GHOSH', 3.0]] 2.0 ['B BOSE', 'N KAR']

In [188]:
for a in second_names:
    print(a)

B BOSE
G GHOSH

In [39]:
type(second_low_score)

float

In [19]:
set(scores)

{1.0, 2.0, 3.0, 5.0}

'N KAR'

In [110]:
def count_unique_words(inp):
    ans = 0
    arr = list(inp.split())
    for word in arr:
        arr2=[]
    if len(tuple(word)) == len(word) and len(word) > 3:
        ans += 1
    return ans

In [113]:
count_unique_words('platteu')

1

In [12]:
def most_frequent(List):

    total=0
    result= List[0]
    for i in List:
        curr_frequency = List.count(i)
        if (curr_frequency > total):
            total =curr_frequency
            result = i

    return(result)

In [13]:
most_frequent(l1)

2

In [6]:
l1 = [2,3,4,5,3,2]

In [8]:
reversed?