Create a class Student and initialize it with details marks in subject 1, credit of subject 1, marks in subject 2, and credit of subject 2.

Create a function grade_point_average() for the Student class which computes the GPA rounded to two decimals, based on the following criteria of points in a subject :

1. If marks>=90:10 points
2. If 90>marks>=75: 9 points
3. If 75>marks>=60: 8 points
4. If 60>marks>=45: 7 points
5. If marks<45: 0 points

GPA = (points in subject 1 * credit of subject 1+ points in subject 2 * credit of subject 2) / ( credit of subject 1 + credit of subject 2)

The points in a subject should be calculated according to the criteria mentioned in the question.
Also, implement a special zero case to handle when credits of both subjects are 0, return "Zero credits for both subjects".

Input Example:

# class Student takes (marks1,marks2,credits1,credits2)
(85, 76, 3, 4)

Output Example:

#output is GPA value
9.0

In [17]:
class student:
    
    def __init__ (self, marks1,marks2,credits1, credits2):
        self.marks1=marks1
        self.marks2=marks2
        self.credits1=credits1
        self.credits2=credits2
        
        
    def grade_point_average(self):
        gpa=0

        #YOUR CODE GOES HERE
        i=0
        points=[]
        for a in (self.marks1, self.marks2):
            if a<45:
                points.append(0)
            elif (a>44 and a<60):
                points.append(7)
            elif (a>59 and a<75):
                points.append(8)
            elif (a>74 and a<90):
                points.append(9)
            elif a>90:
                points.append(10)
            i+=1

        if (self.credits1==0) and (self.credits2==0):
            print("Zero credits for both subjects")
        else:
            gpa=round(((points[0]*self.credits1) + (points[1]*self.credits2))/(self.credits1+self.credits2),2)
            print(points[0],self.marks1 , points[1],self.marks2,self.credits1,self.credits2)
        return gpa

In [18]:
(9*3+9*4)/7

9.0

In [19]:
s1=student(35, 92, 4, 5)

In [20]:
s1.grade_point_average()

0 35 10 92 4 5

5.56

In [ ]:

points=[]
i=0


for a in (marks1, marks2):
   
    if a<45:
        points.append(0)
    elif a>44 and a<60:
        points.append(7)
    elif a>59 and a<75:
        points.append(8)
    elif a>74 and a<90:
        points.append(9)
    elif a>90:
        points.append(10)
    i+=1

In [ ]:
points[0]

In [20]:
b1=bill(200, 650)

In [21]:
b1.total_bill()

3000

In [36]:
def timeHandle(a,b,c,d):
    '''inputs: a,b = hours and mins of t1
               c,d = hours and mins of t2
        Output: Two lines of output for each pair of t1 and t2. The code for printing outputs is already just make sure to return in the methods.'''
    # The code for taking input and printing output is already taken care of.

    class Spanoftime:
        def __init__(self,h,m):
            self.hours=h
            self.mins=m
            
        def displayTime(self):
            return ("{} hours and {} min".format(self.hours,self.mins))
        
        def addTime(t1,t2):
            t3=Spanoftime(0,0)
            # Complete the function
            h=0
            m=0
            if (t1.mins+t2.mins)>60:
                h=1
                m=60
            k=t1.hours+t2.hours+h
            l=t1.mins+t2.mins-m
            t3=Spanoftime(k,l)
            print(t1.hours, t2.hours)
            return t3
            
        def returnMinutes(t1,t2):
            # Return the total number of minutes
            t=(t1.hours+t2.hours)*60+t1.mins+t2.mins
            return t
            
        
    t1=Spanoftime(a,b)
    t2=Spanoftime(c,d)
    t3=Spanoftime.addTime(t1,t2)
    t3.displayTime()
    totalmin=str(Spanoftime.returnMinutes(t1,t2))
    return t3.displayTime(),("The total minutes in time t1 and t2 are: " + totalmin)

In [37]:
timeHandle(1,50,2,50)

1 2

('4 hours and 40 min', 'The total minutes in time t1 and t2 are: 280')

In [22]:
class Smaller:
    def __init__(self,a):
        self.string=a
    
    def display(self):
        print("The type of Name is smaller")
    
    def evaluate(self):
        ans=0
        for b in self.string:
            if(b=='a') or(b=='A') or(b=='e') or(b=='E') or(b=='i') or(b=='I') or(b=='o') or(b=='O') or(b=='u') or(b=='U'):
                ans+=1
        # YOUR CODE GOES HERE
        print(ans)
        
class Larger:
    def __init__(self,a):
        self.string=a
    
    def display(self):
        print("The type of Name is larger")
    
    def evaluate(self):
        ans=0
        
        # YOUR CODE GOES HERE
        for b in self.string:
            s:
                ans+=1
        print(ans)

def main(a):
    '''
    input a is string
    '''
    if len(a)<6:
        obj=Smaller(a)
        obj.display()
        obj.evaluate()
    else:
        obj=Larger(a)
        obj.display()
        obj.evaluate()

In [23]:
main('amanrathore')

The type of Name is larger
6

In [1]:
class People():
    def __init__(self, name):
        self.name = name

    def get_name(self):
        print(self.name)

person1 = People("John")
person2 = People("Mary")
person1.get_name()

John

In [2]:
class football:
    final_res= 'lose'
    def __init__(self,name,score):
        self.name = name
        self.score = score
        self.final_res = 'lose'
    
    def calc(self, winning_score):
        if self.score>winning_score:
            self.final_res='win'
match = football('Juventus',3)
match.calc(2)
print(football.final_res, match.final_res)

lose win

In [6]:
class Student:
  # Class variable
  subject_name = 'Math for Machine Learning'

  # constructor
  def __init__(self, name, roll_no):
    self.name = name
    self.roll_no = roll_no

  # create Objects
s1 = Student('Emma', 10)
Student.subject_name = 'Machine Learning'
    #_____________________#blank1
    #_____________________#blank2

print(s1.name, s1.roll_no, s1.subject_name)

Emma 10 Machine Learning

In [8]:
class solution:
    def initial(self,sets):
        return self.final(sets)
 
    def final(self, sets):
        return list(map(lambda x: ((x**3)%2==0,x**3),sets))

print(solution().initial([4,5,6]))

[(True, 64), (False, 125), (True, 216)]

In [12]:
class Circle:
    pi = 3.14
    def __init__(self, diameter):
        self.radius = diameter / 2
        print(self.radius)

    def circumference(self):
        return 2 * self.pi * self.radius

In [13]:
pizza = Circle(12)
print(pizza.circumference())

6.0
37.68

In [14]:
class Employee:

    def __init__(self, name, val):

        self.__name=name

        self.__salary=val

e1=Employee("Rahul",200)

print(e1.__salary)

AttributeError: 'Employee' object has no attribute '__salary'

In [15]:
class Employee:

    def __init__(self, name, val):

        self._name=name

        self._salary=val

e1=Employee("Rahul",200)

print(e1._salary)

200

In [16]:
class Employee:

    def __init__(self, name, val):

        self._name=name

        self._salary=val

e1=Employee("Rahul",200)

print(e1.salary)

AttributeError: 'Employee' object has no attribute 'salary'

In [17]:
class fruits:
    def __init__(self, price):
        self.price = price

obj=fruits(50)
obj.quantity=10
obj.bags=2

print(obj.quantity+len(obj.__dict__))

13

In [18]:
obj.__dict__

{'price': 50, 'quantity': 10, 'bags': 2}

In [19]:
class Student:
    def __init__(self,roll,marks):
        self.roll = roll
        self.marks=marks
    def display(self):
        print('Roll:', self.roll,'Marks:',self.marks, end=" ")

student1= Student(34,'A')
student1.age=17
print(student1.display(), 'Age:',student1.age)

Roll: 34 Marks: A None Age: 17

In [21]:
class Student:
  # Class variable
  subject_name = 'Math for Machine Learning'

  # constructor
  def __init__(self, name, roll_no):
    self.name = name
    self.roll_no = roll_no

  # create Objects
    #_____________________#blank1
    #_____________________#blank2
    s1 = Student('Emma', 10)
    s1.subject_name = 'Machine Learning'

print(s1.name, s1.roll_no, s1.subject_name)

Emma 10 Machine Learning

In [22]:
class Player:
    
  # class variables
    club = 'United'
    sport = 'Football'

    def __init__(self, name):
    # Instance variable
        self.name = name


    def show(self):
        print('Name:', self.name, 'Club:', self.club, 'Sports:', self.sport, end=" ")

p1 = Player('Sanjay')
p1.club = 'Real Madrid'
p1.show()

p2 = Player('Ravi')
p2.sport = 'Tennis'
p2.show()

Name: Sanjay Club: Real Madrid Sports: Football Name: Ravi Club: United Sports: Tennis

In [24]:
class A:
    def one(self):
        print("c")
        return self.two()
    def two(self):
        return 'A'
class B(A):
    def two(self):
        return 'B'
obj= B()
print(obj.one())

c
B

In [25]:
try:
    print(a)
except ValueError:
    a=3
    print(a)
except:
    a=5
    print(a)
finally:
    a=4
    print(a)

5
4

In [1]:
 print(a)

NameError: name 'a' is not defined

In [1]:
try:
  print(a)
except NameError:
  a=3
  print(a)
except:
  a=5
  print(a)
finally:
  a=4
  print(a)

3
4

In [3]:
import random
random.randint(3, 6)

5

In [42]:
random.randint(3, 6)

4

In [31]:
random.choice([3, 6])

6

In [39]:
random.randrange(3, 6)

4

In [6]:
3 + random.randrange(3)

3

In [7]:
3 + random.randrange(4)

4

In [49]:
random.randrange(4)

1

In [45]:

x = "WELCOME"

print(random.choice(x))

C

In [1]:
try:
    print(x)
except NameError:                       #1
      print("Variable x is not defined")
except:                                 #2
      print("Something else went wrong")

Variable x is not defined

In [2]:
 from math import factorial

In [4]:
print(factorial(5))

120

In [1]:
try:
    n=int(input("Enter a number"))
    while 100%n==0:
        print("Good")
    
except ValueError:
    print("Invalid")

Enter a number3

In [3]:
n=int(input("Enter a number"))

Enter a number3

In [4]:
def even(x):
    try:
        if x%2==0:
              return "even"
        else:
              raise Exception
    except:
        return("odd")
    finally:
        return "integer"

print(even(5))    #A
print(even(4))    #B

integer
integer

In [4]:
class MachineLearning:
    
    def __init__(self,name,category):
        self.name=name
        self.category=category
        
    def getname(self):
        return self.name
        
    def getcategory(self):
        return self.category
        
    def print(self):
        print("Name:",self.name)
        print("Category:",self.category)


class Supervised(MachineLearning):
    def __init__(self,name,category):
        super().__init__(name, category)
    
    def type(self):
        #YOUR CODE GOES HERE

class Unsupervised(MachineLearning):
    def __init__(self,name,category):
        super().__init__(name, category)
    
    def type(self):
        #YOUR CODE GOES HERE

def mlAnalogy(a,b,c,d):
    '''
    input=> a,b = name and category for Supervised class
            c,d = name and category for Unsupervised class
    output=> type() is called for both classes in the end, it should first print the Name and Category then the type of class in new lines
    '''
    
    obj1=Supervised(a,b)
    obj1.type()
    obj2=Unsupervised(c,d)
    obj2.type()

    return None

IndentationError: expected an indented block (2761678072.py, line 25)

In [29]:
class MachineLearning:
    
    def __init__(self,name,category):
        self.name=name
        self.category=category
    def getname(self):
        return self.name
        
    def getcategory(self):
        return self.category

    def print(self):
        print("Name:",self.name)
        print("Category:",self.category)

         
class Supervised(MachineLearning):
    def __init__(self,name,category):
        super().__init__(name, category)
    
    def type(self):
        MachineLearning.print(self)
        if self.category=="Classification Algo" or self.category=="Regression algo":
            print("Supervised Learning Algorithm")
            
        
class Unsupervised(MachineLearning):
    def __init__(self,name,category):
        super().__init__(name, category)
    
    def type(self):
        MachineLearning.print(self)
        if self.category=="Clustering Algo" or self.category=="classification  algo":
            print("Unsupervised Learning Algorithm")

def mlAnalogy(a,b,c,d):
    '''
    input=> a,b = name and category for Supervised class
            c,d = name and category for Unsupervised class
    output=> type() is called for both classes in the end, it should first print the Name and Category then the type of class in new lines
    '''
    
    obj1=Supervised(a,b)
    obj1.type()
    obj2=Unsupervised(c,d)
    obj2.type()

    return None

In [30]:
mlAnalogy('Logistic Regression','Classification Algo','k-Means','Clustering Algo')

Name: Logistic Regression
Category: Classification Algo
Supervised Learning Algorithm
Name: k-Means
Category: Clustering Algo
Unsupervised Learning Algorithm

In [ ]:
    
"""
  a is list, b is string, c is integer
  return the exception in msg 
"""

In [9]:
import numpy as np
def calc(a,b,c):
    try:
        print(len(a))
        if (len(a)==0) : raise Exception
        if not (b=="Percentile" or b== "Quantile"): raise Exception
        if b=="Percentile":
            print("Percentile")
            n=np.percentile(a,c)
           
        if b=="Quantile":
            print("Quantile")
            n=np.quantile(a,c)
    except ( Exception) as e:
            #YOUR CODE GOES HERE
        if(len(a)==0):
            print("Null value passed") 
        else: 
            print("Formula Error: Wrong Formula")   

    else:
        print(n)

In [10]:
calc([], "Percentile",.75)

0
Null value passed

In [106]:
def divide(x, y):
    try:
        # Floor Division : Gives only Fractional Part as Answer
        result = x // y
        print("Yeah ! Your answer is :", result)
    except ZeroDivisionError:
        print("Sorry ! You are dividing by zero ")
 
# Look at parameters and note the working of Program
divide(3, 0)

Sorry ! You are dividing by zero

In [13]:
n=5
for i in range(n):
    for j in range(n):
        print(max(i,j,n-1-i,n-1-j)+1, end=" ")
        
    print(end="\n")

5 5 5 5 5
5 4 4 4 5
5 4 3 4 5
5 4 4 4 5
5 5 5 5 5

In [2]:
import random

array = list(range(100))
random.shuffle(array)
while len(array) != 0:
      print(array.pop())

49
3
15
31
84
39
4
11
78
10
94
99
36
93
67
20
60
46
32
14
81
28
30
6
34
90
23
45
79
64
56
47
21
33
16
29
65
35
17
83
62
5
7
87
44
82
9
72
19
0
70
97
2
54
41
96
55
40
24
61
77
98
38
68
12
58
71
22
48
66
95
50
74
63
89
76
51
86
88
69
13
85
57
27
8
59
75
92
37
53
80
26
52
73
42
91
25
1
18
43

In [3]:
import math
result = 1
for i in range(1,7):
     result += 1/(math.factorial(i))#blank1
print(round(result,2))

2.72

In [6]:
import math
result = 1
for i in range(1,7):
     result += 1/(math.pow(i,2))#blank1
print(round(result,2))

2.49

In [7]:
import math
import numpy as np
a=[1,2,3,45]

In [8]:
numpy.mean(a) and numpy.std(a)

NameError: name 'numpy' is not defined

In [11]:
np.mean(a)

12.75

In [12]:
np.std(a)

18.632968094214082

In [13]:
math.mean(a)

AttributeError: module 'math' has no attribute 'mean'

In [14]:
math.std(a)

AttributeError: module 'math' has no attribute 'std'

In [17]:
try:
    name = input("Enter your name: ")
    if len(name) < 5:
        raise Exception("Name cannot have less than  5 characters")
    elif len(name)==5: 
        raise Exception("Name should have more than five characters")

except Exception as e:
    print("Error occured :",e)

Enter your name: fig
Error occured : Name cannot have less than  5 characters

In [18]:
class Props:
    def __init__(self, x, y):
        self.x = x
        self.y = y

In [25]:
class Ball(Props):
    def __init__(self, x, y):
        super().__init__(x, y)
        self.shape = "o"
        self.number = 1
        self.vely = 0
        self.velx = 0

    def get_x(self):
        return self.x
 
    def get_y(self):
        return self.y

    def get_velx(self):
        return self.velx
 
    def get_vely(self):
        return self.vely
    
    def inc_velx(self):
        self.velx = self.velx+2
    
    def inc_vely(self):
        self.vely = self.vely+1

In [27]:
obj_ball = Ball(27,3)

bx = obj_ball.get_x()
by = obj_ball.get_y()
b_velx = obj_ball.get_velx()
b_vely = obj_ball.get_vely()
obj_ball.inc_velx()
print(bx, by, b_velx, b_vely)

27 3 0 0

In [29]:
obj_ball.inc_velx()
obj_ball.velx

4

In [30]:
class A:
    def __init__(self, name, sound="Grrrr"):
        self.name = name
        self.sound = sound

    def make_noise(self):
        print("{} says, {}".format(self.name,self.sound))

class B(A):
    def __init__(self, name="Rachel"):
        super().__init__(name, "Meow!")

    def make_noise(self,sound="Grrrr!"):
        print("{} says, {}".format(self.name, sound))

pet_cat = B()
pet_cat.make_noise()

Rachel says, Grrrr!

In [31]:
class AI:
    def check(self):
        return "AI's check"
    def display(self):
        print(self.check(),end=" ")

class ML(AI):
    def check(self):
        return "ML's check"

AI().display()
ML().display()

AI's check ML's check

In [7]:
arr =[64, 34, 25, 12, 22, 11, 90]

In [2]:
n=len(arr)
n

7

In [8]:

for i in range(k-1):
    for j in range(k-i-1):
        if arr[j]>arr[j+1]:
            arr[j],arr[j+1]=arr[j+1], arr[j]
arr

[12, 25, 34, 64, 22, 11, 90]

In [12]:
res=arr[0]+arr[-1]
res

102

In [9]:
arr[-1]

90

In [1]:
i=0
n=5

while(i<n):
    i+=1
    if(i%2!=0):
        print(i)

1
3
5

0

In [32]:
def insertionSort(arr,k):
    """
    arr is the list and k is the iteration number
    store the result with variable name res
    """
    for i in range(0, k+1):
        key = arr[i]
        
        j=i-1
        while j>=0 and key < arr[j]:
            arr[j+1] = arr[j]
            j-=1
        arr[j+1] = key
        t=len(arr)//2
        res=arr[t]
    
    return arr, res

In [33]:
insertionSort([12, 4, 5, 7, 1, 32, 34],4)

([1, 4, 5, 7, 12, 32, 34], 7)

In [6]:
arr=[12, 11, 13, 5, 6]
i=len(arr)//2
arr[i]

13