Create a class Student and initialize it with details marks in subject 1, credit of subject 1, marks in subject 2, and credit of subject 2.

Create a function grade_point_average() for the Student class which computes the GPA rounded to two decimals, based on the following criteria of points in a subject :

1. If marks>=90:10 points
2. If 90>marks>=75: 9 points
3. If 75>marks>=60: 8 points
4. If 60>marks>=45: 7 points
5. If marks<45: 0 points

GPA = (points in subject 1 * credit of subject 1+ points in subject 2 * credit of subject 2) / ( credit of subject 1 + credit of subject 2)

The points in a subject should be calculated according to the criteria mentioned in the question.
Also, implement a special zero case to handle when credits of both subjects are 0, return "Zero credits for both subjects".

Input Example:

# class Student takes (marks1,marks2,credits1,credits2)
(85, 76, 3, 4)

Output Example:

#output is GPA value
9.0

In [17]:
class student:
    
    def __init__ (self, marks1,marks2,credits1, credits2):
        self.marks1=marks1
        self.marks2=marks2
        self.credits1=credits1
        self.credits2=credits2
        
        
    def grade_point_average(self):
        gpa=0

        #YOUR CODE GOES HERE
        i=0
        points=[]
        for a in (self.marks1, self.marks2):
            if a<45:
                points.append(0)
            elif (a>44 and a<60):
                points.append(7)
            elif (a>59 and a<75):
                points.append(8)
            elif (a>74 and a<90):
                points.append(9)
            elif a>90:
                points.append(10)
            i+=1

        if (self.credits1==0) and (self.credits2==0):
            print("Zero credits for both subjects")
        else:
            gpa=round(((points[0]*self.credits1) + (points[1]*self.credits2))/(self.credits1+self.credits2),2)
            print(points[0],self.marks1 , points[1],self.marks2,self.credits1,self.credits2)
        return gpa

In [18]:
(9*3+9*4)/7

9.0

In [19]:
s1=student(35, 92, 4, 5)

In [20]:
s1.grade_point_average()

0 35 10 92 4 5

5.56

In [ ]:

points=[]
i=0


for a in (marks1, marks2):
   
    if a<45:
        points.append(0)
    elif a>44 and a<60:
        points.append(7)
    elif a>59 and a<75:
        points.append(8)
    elif a>74 and a<90:
        points.append(9)
    elif a>90:
        points.append(10)
    i+=1

In [ ]:
points[0]

In [20]:
b1=bill(200, 650)

In [21]:
b1.total_bill()

3000

In [36]:
def timeHandle(a,b,c,d):
    '''inputs: a,b = hours and mins of t1
               c,d = hours and mins of t2
        Output: Two lines of output for each pair of t1 and t2. The code for printing outputs is already just make sure to return in the methods.'''
    # The code for taking input and printing output is already taken care of.

    class Spanoftime:
        def __init__(self,h,m):
            self.hours=h
            self.mins=m
            
        def displayTime(self):
            return ("{} hours and {} min".format(self.hours,self.mins))
        
        def addTime(t1,t2):
            t3=Spanoftime(0,0)
            # Complete the function
            h=0
            m=0
            if (t1.mins+t2.mins)>60:
                h=1
                m=60
            k=t1.hours+t2.hours+h
            l=t1.mins+t2.mins-m
            t3=Spanoftime(k,l)
            print(t1.hours, t2.hours)
            return t3
            
        def returnMinutes(t1,t2):
            # Return the total number of minutes
            t=(t1.hours+t2.hours)*60+t1.mins+t2.mins
            return t
            
        
    t1=Spanoftime(a,b)
    t2=Spanoftime(c,d)
    t3=Spanoftime.addTime(t1,t2)
    t3.displayTime()
    totalmin=str(Spanoftime.returnMinutes(t1,t2))
    return t3.displayTime(),("The total minutes in time t1 and t2 are: " + totalmin)

In [37]:
timeHandle(1,50,2,50)

1 2

('4 hours and 40 min', 'The total minutes in time t1 and t2 are: 280')

In [22]:
class Smaller:
    def __init__(self,a):
        self.string=a
    
    def display(self):
        print("The type of Name is smaller")
    
    def evaluate(self):
        ans=0
        for b in self.string:
            if(b=='a') or(b=='A') or(b=='e') or(b=='E') or(b=='i') or(b=='I') or(b=='o') or(b=='O') or(b=='u') or(b=='U'):
                ans+=1
        # YOUR CODE GOES HERE
        print(ans)
        
class Larger:
    def __init__(self,a):
        self.string=a
    
    def display(self):
        print("The type of Name is larger")
    
    def evaluate(self):
        ans=0
        
        # YOUR CODE GOES HERE
        for b in self.string:
            s:
                ans+=1
        print(ans)

def main(a):
    '''
    input a is string
    '''
    if len(a)<6:
        obj=Smaller(a)
        obj.display()
        obj.evaluate()
    else:
        obj=Larger(a)
        obj.display()
        obj.evaluate()

In [23]:
main('amanrathore')

The type of Name is larger
6

In [1]:
class People():
    def __init__(self, name):
        self.name = name

    def get_name(self):
        print(self.name)

person1 = People("John")
person2 = People("Mary")
person1.get_name()

John

In [2]:
class football:
    final_res= 'lose'
    def __init__(self,name,score):
        self.name = name
        self.score = score
        self.final_res = 'lose'
    
    def calc(self, winning_score):
        if self.score>winning_score:
            self.final_res='win'
match = football('Juventus',3)
match.calc(2)
print(football.final_res, match.final_res)

lose win

In [6]:
class Student:
  # Class variable
  subject_name = 'Math for Machine Learning'

  # constructor
  def __init__(self, name, roll_no):
    self.name = name
    self.roll_no = roll_no

  # create Objects
s1 = Student('Emma', 10)
Student.subject_name = 'Machine Learning'
    #_____________________#blank1
    #_____________________#blank2

print(s1.name, s1.roll_no, s1.subject_name)

Emma 10 Machine Learning

In [8]:
class solution:
    def initial(self,sets):
        return self.final(sets)
 
    def final(self, sets):
        return list(map(lambda x: ((x**3)%2==0,x**3),sets))

print(solution().initial([4,5,6]))

[(True, 64), (False, 125), (True, 216)]

In [12]:
class Circle:
    pi = 3.14
    def __init__(self, diameter):
        self.radius = diameter / 2
        print(self.radius)

    def circumference(self):
        return 2 * self.pi * self.radius

In [13]:
pizza = Circle(12)
print(pizza.circumference())

6.0
37.68

In [14]:
class Employee:

    def __init__(self, name, val):

        self.__name=name

        self.__salary=val

e1=Employee("Rahul",200)

print(e1.__salary)

AttributeError: 'Employee' object has no attribute '__salary'

In [15]:
class Employee:

    def __init__(self, name, val):

        self._name=name

        self._salary=val

e1=Employee("Rahul",200)

print(e1._salary)

200

In [16]:
class Employee:

    def __init__(self, name, val):

        self._name=name

        self._salary=val

e1=Employee("Rahul",200)

print(e1.salary)

AttributeError: 'Employee' object has no attribute 'salary'

In [17]:
class fruits:
    def __init__(self, price):
        self.price = price

obj=fruits(50)
obj.quantity=10
obj.bags=2

print(obj.quantity+len(obj.__dict__))

13

In [18]:
obj.__dict__

{'price': 50, 'quantity': 10, 'bags': 2}

In [19]:
class Student:
    def __init__(self,roll,marks):
        self.roll = roll
        self.marks=marks
    def display(self):
        print('Roll:', self.roll,'Marks:',self.marks, end=" ")

student1= Student(34,'A')
student1.age=17
print(student1.display(), 'Age:',student1.age)

Roll: 34 Marks: A None Age: 17

In [21]:
class Student:
  # Class variable
  subject_name = 'Math for Machine Learning'

  # constructor
  def __init__(self, name, roll_no):
    self.name = name
    self.roll_no = roll_no

  # create Objects
    #_____________________#blank1
    #_____________________#blank2
    s1 = Student('Emma', 10)
    s1.subject_name = 'Machine Learning'

print(s1.name, s1.roll_no, s1.subject_name)

Emma 10 Machine Learning

In [22]:
class Player:
    
  # class variables
    club = 'United'
    sport = 'Football'

    def __init__(self, name):
    # Instance variable
        self.name = name


    def show(self):
        print('Name:', self.name, 'Club:', self.club, 'Sports:', self.sport, end=" ")

p1 = Player('Sanjay')
p1.club = 'Real Madrid'
p1.show()

p2 = Player('Ravi')
p2.sport = 'Tennis'
p2.show()

Name: Sanjay Club: Real Madrid Sports: Football Name: Ravi Club: United Sports: Tennis

In [24]:
class A:
    def one(self):
        print("c")
        return self.two()
    def two(self):
        return 'A'
class B(A):
    def two(self):
        return 'B'
obj= B()
print(obj.one())

c
B

In [25]:
try:
    print(a)
except ValueError:
    a=3
    print(a)
except:
    a=5
    print(a)
finally:
    a=4
    print(a)

5
4

In [1]:
 print(a)

NameError: name 'a' is not defined

In [1]:
try:
  print(a)
except NameError:
  a=3
  print(a)
except:
  a=5
  print(a)
finally:
  a=4
  print(a)

3
4

In [3]:
import random
random.randint(3, 6)

5

In [42]:
random.randint(3, 6)

4

In [31]:
random.choice([3, 6])

6

In [39]:
random.randrange(3, 6)

4

In [6]:
3 + random.randrange(3)

3

In [7]:
3 + random.randrange(4)

4

In [49]:
random.randrange(4)

1

In [45]:

x = "WELCOME"

print(random.choice(x))

C

In [1]:
try:
    print(x)
except NameError:                       #1
      print("Variable x is not defined")
except:                                 #2
      print("Something else went wrong")

Variable x is not defined

In [2]:
 from math import factorial

In [4]:
print(factorial(5))

120

In [1]:
try:
    n=int(input("Enter a number"))
    while 100%n==0:
        print("Good")
    
except ValueError:
    print("Invalid")

Enter a number3

In [3]:
n=int(input("Enter a number"))

Enter a number3

In [4]:
def even(x):
    try:
        if x%2==0:
              return "even"
        else:
              raise Exception
    except:
        return("odd")
    finally:
        return "integer"

print(even(5))    #A
print(even(4))    #B

integer
integer

In [4]:
class MachineLearning:
    
    def __init__(self,name,category):
        self.name=name
        self.category=category
        
    def getname(self):
        return self.name
        
    def getcategory(self):
        return self.category
        
    def print(self):
        print("Name:",self.name)
        print("Category:",self.category)


class Supervised(MachineLearning):
    def __init__(self,name,category):
        super().__init__(name, category)
    
    def type(self):
        #YOUR CODE GOES HERE

class Unsupervised(MachineLearning):
    def __init__(self,name,category):
        super().__init__(name, category)
    
    def type(self):
        #YOUR CODE GOES HERE

def mlAnalogy(a,b,c,d):
    '''
    input=> a,b = name and category for Supervised class
            c,d = name and category for Unsupervised class
    output=> type() is called for both classes in the end, it should first print the Name and Category then the type of class in new lines
    '''
    
    obj1=Supervised(a,b)
    obj1.type()
    obj2=Unsupervised(c,d)
    obj2.type()

    return None

IndentationError: expected an indented block (2761678072.py, line 25)

In [29]:
class MachineLearning:
    
    def __init__(self,name,category):
        self.name=name
        self.category=category
    def getname(self):
        return self.name
        
    def getcategory(self):
        return self.category

    def print(self):
        print("Name:",self.name)
        print("Category:",self.category)

         
class Supervised(MachineLearning):
    def __init__(self,name,category):
        super().__init__(name, category)
    
    def type(self):
        MachineLearning.print(self)
        if self.category=="Classification Algo" or self.category=="Regression algo":
            print("Supervised Learning Algorithm")
            
        
class Unsupervised(MachineLearning):
    def __init__(self,name,category):
        super().__init__(name, category)
    
    def type(self):
        MachineLearning.print(self)
        if self.category=="Clustering Algo" or self.category=="classification  algo":
            print("Unsupervised Learning Algorithm")

def mlAnalogy(a,b,c,d):
    '''
    input=> a,b = name and category for Supervised class
            c,d = name and category for Unsupervised class
    output=> type() is called for both classes in the end, it should first print the Name and Category then the type of class in new lines
    '''
    
    obj1=Supervised(a,b)
    obj1.type()
    obj2=Unsupervised(c,d)
    obj2.type()

    return None

In [30]:
mlAnalogy('Logistic Regression','Classification Algo','k-Means','Clustering Algo')

Name: Logistic Regression
Category: Classification Algo
Supervised Learning Algorithm
Name: k-Means
Category: Clustering Algo
Unsupervised Learning Algorithm

In [ ]:
    
"""
  a is list, b is string, c is integer
  return the exception in msg 
"""

In [9]:
import numpy as np
def calc(a,b,c):
    try:
        print(len(a))
        if (len(a)==0) : raise Exception
        if not (b=="Percentile" or b== "Quantile"): raise Exception
        if b=="Percentile":
            print("Percentile")
            n=np.percentile(a,c)
           
        if b=="Quantile":
            print("Quantile")
            n=np.quantile(a,c)
    except ( Exception) as e:
            #YOUR CODE GOES HERE
        if(len(a)==0):
            print("Null value passed") 
        else: 
            print("Formula Error: Wrong Formula")   

    else:
        print(n)

In [10]:
calc([], "Percentile",.75)

0
Null value passed

In [106]:
def divide(x, y):
    try:
        # Floor Division : Gives only Fractional Part as Answer
        result = x // y
        print("Yeah ! Your answer is :", result)
    except ZeroDivisionError:
        print("Sorry ! You are dividing by zero ")
 
# Look at parameters and note the working of Program
divide(3, 0)

Sorry ! You are dividing by zero

In [13]:
n=5
for i in range(n):
    for j in range(n):
        print(max(i,j,n-1-i,n-1-j)+1, end=" ")
        
    print(end="\n")

5 5 5 5 5
5 4 4 4 5
5 4 3 4 5
5 4 4 4 5
5 5 5 5 5

In [2]:
import random

array = list(range(100))
random.shuffle(array)
while len(array) != 0:
      print(array.pop())

49
3
15
31
84
39
4
11
78
10
94
99
36
93
67
20
60
46
32
14
81
28
30
6
34
90
23
45
79
64
56
47
21
33
16
29
65
35
17
83
62
5
7
87
44
82
9
72
19
0
70
97
2
54
41
96
55
40
24
61
77
98
38
68
12
58
71
22
48
66
95
50
74
63
89
76
51
86
88
69
13
85
57
27
8
59
75
92
37
53
80
26
52
73
42
91
25
1
18
43

In [3]:
import math
result = 1
for i in range(1,7):
     result += 1/(math.factorial(i))#blank1
print(round(result,2))

2.72

In [6]:
import math
result = 1
for i in range(1,7):
     result += 1/(math.pow(i,2))#blank1
print(round(result,2))

2.49

In [7]:
import math
import numpy as np
a=[1,2,3,45]

In [8]:
numpy.mean(a) and numpy.std(a)

NameError: name 'numpy' is not defined

In [11]:
np.mean(a)

12.75

In [12]:
np.std(a)

18.632968094214082

In [13]:
math.mean(a)

AttributeError: module 'math' has no attribute 'mean'

In [14]:
math.std(a)

AttributeError: module 'math' has no attribute 'std'

In [17]:
try:
    name = input("Enter your name: ")
    if len(name) < 5:
        raise Exception("Name cannot have less than  5 characters")
    elif len(name)==5: 
        raise Exception("Name should have more than five characters")

except Exception as e:
    print("Error occured :",e)

Enter your name: fig
Error occured : Name cannot have less than  5 characters

In [18]:
class Props:
    def __init__(self, x, y):
        self.x = x
        self.y = y

In [25]:
class Ball(Props):
    def __init__(self, x, y):
        super().__init__(x, y)
        self.shape = "o"
        self.number = 1
        self.vely = 0
        self.velx = 0

    def get_x(self):
        return self.x
 
    def get_y(self):
        return self.y

    def get_velx(self):
        return self.velx
 
    def get_vely(self):
        return self.vely
    
    def inc_velx(self):
        self.velx = self.velx+2
    
    def inc_vely(self):
        self.vely = self.vely+1

In [27]:
obj_ball = Ball(27,3)

bx = obj_ball.get_x()
by = obj_ball.get_y()
b_velx = obj_ball.get_velx()
b_vely = obj_ball.get_vely()
obj_ball.inc_velx()
print(bx, by, b_velx, b_vely)

27 3 0 0

In [29]:
obj_ball.inc_velx()
obj_ball.velx

4

In [30]:
class A:
    def __init__(self, name, sound="Grrrr"):
        self.name = name
        self.sound = sound

    def make_noise(self):
        print("{} says, {}".format(self.name,self.sound))

class B(A):
    def __init__(self, name="Rachel"):
        super().__init__(name, "Meow!")

    def make_noise(self,sound="Grrrr!"):
        print("{} says, {}".format(self.name, sound))

pet_cat = B()
pet_cat.make_noise()

Rachel says, Grrrr!

In [31]:
class AI:
    def check(self):
        return "AI's check"
    def display(self):
        print(self.check(),end=" ")

class ML(AI):
    def check(self):
        return "ML's check"

AI().display()
ML().display()

AI's check ML's check

In [7]:
arr =[64, 34, 25, 12, 22, 11, 90]

In [2]:
n=len(arr)
n

7

In [8]:

for i in range(k-1):
    for j in range(k-i-1):
        if arr[j]>arr[j+1]:
            arr[j],arr[j+1]=arr[j+1], arr[j]
arr

[12, 25, 34, 64, 22, 11, 90]

In [12]:
res=arr[0]+arr[-1]
res

102

In [9]:
arr[-1]

90

In [1]:
i=0
n=5

while(i<n):
    i+=1
    if(i%2!=0):
        print(i)

1
3
5

0

In [32]:
def insertionSort(arr,k):
    """
    arr is the list and k is the iteration number
    store the result with variable name res
    """
    for i in range(0, k+1):
        key = arr[i]
        
        j=i-1
        while j>=0 and key < arr[j]:
            arr[j+1] = arr[j]
            j-=1
        arr[j+1] = key
        t=len(arr)//2
        res=arr[t]
    
    return arr, res

In [33]:
insertionSort([12, 4, 5, 7, 1, 32, 34],4)

([1, 4, 5, 7, 12, 32, 34], 7)

In [6]:
arr=[12, 11, 13, 5, 6]
i=len(arr)//2
arr[i]

13

In [21]:
arr=[12, 11, 13, 5, 6]

In [16]:
def bb(arr):
    for j in range(len(arr)-1,-1,-1):
        for k in range(0,j):
            if(arr[k]>arr[k+1]):
                temp=arr[k]
                arr[k]=arr[k+1]
                arr[k+1]=temp
        print(arr)

In [22]:
bb(arr)

In [23]:
def bb(arr):
    for j in range(len(arr)-1,-1):
        for k in range(0,j):
            if(arr[k]>arr[k+1]):
                temp=arr[k]
                arr[k]=arr[k+1]
                arr[k+1]=temp
                print(arr)

In [26]:
n=8
for i in range(n):
    
    j=i
    while j!=0:
        
        print(j)
        j=j//2

1
2
1
3
1
4
2
1
5
2
1
6
3
1
7
3
1

In [30]:
n=2
a = 0
i = n
while (i > 0):
    a += i
    i /= 2
    print(i,end =" ")

1.0 0.5 0.25 0.125 0.0625 0.03125 0.015625 0.0078125 0.00390625 0.001953125 0.0009765625 0.00048828125 0.000244140625 0.0001220703125 6.103515625e-05 3.0517578125e-05 1.52587890625e-05 7.62939453125e-06 3.814697265625e-06 1.9073486328125e-06 9.5367431640625e-07 4.76837158203125e-07 2.384185791015625e-07 1.1920928955078125e-07 5.960464477539063e-08 2.9802322387695312e-08 1.4901161193847656e-08 7.450580596923828e-09 3.725290298461914e-09 1.862645149230957e-09 9.313225746154785e-10 4.656612873077393e-10 2.3283064365386963e-10 1.1641532182693481e-10 5.820766091346741e-11 2.9103830456733704e-11 1.4551915228366852e-11 7.275957614183426e-12 3.637978807091713e-12 1.8189894035458565e-12 9.094947017729282e-13 4.547473508864641e-13 2.2737367544323206e-13 1.1368683772161603e-13 5.684341886080802e-14 2.842170943040401e-14 1.4210854715202004e-14 7.105427357601002e-15 3.552713678800501e-15 1.7763568394002505e-15 8.881784197001252e-16 4.440892098500626e-16 2.220446049250313e-16 1.1102230246251565e-16 5.551115123125783e-17 2.7755575615628914e-17 1.3877787807814457e-17 6.938893903907228e-18 3.469446951953614e-18 1.734723475976807e-18 8.673617379884035e-19 4.336808689942018e-19 2.168404344971009e-19 1.0842021724855044e-19 5.421010862427522e-20 2.710505431213761e-20 1.3552527156068805e-20 6.776263578034403e-21 3.3881317890172014e-21 1.6940658945086007e-21 8.470329472543003e-22 4.235164736271502e-22 2.117582368135751e-22 1.0587911840678754e-22 5.293955920339377e-23 2.6469779601696886e-23 1.3234889800848443e-23 6.617444900424222e-24 3.308722450212111e-24 1.6543612251060553e-24 8.271806125530277e-25 4.1359030627651384e-25 2.0679515313825692e-25 1.0339757656912846e-25 5.169878828456423e-26 2.5849394142282115e-26 1.2924697071141057e-26 6.462348535570529e-27 3.2311742677852644e-27 1.6155871338926322e-27 8.077935669463161e-28 4.0389678347315804e-28 2.0194839173657902e-28 1.0097419586828951e-28 5.048709793414476e-29 2.524354896707238e-29 1.262177448353619e-29 6.310887241768095e-30 3.1554436208840472e-30 1.5777218104420236e-30 7.888609052210118e-31 3.944304526105059e-31 1.9721522630525295e-31 9.860761315262648e-32 4.930380657631324e-32 2.465190328815662e-32 1.232595164407831e-32 6.162975822039155e-33 3.0814879110195774e-33 1.5407439555097887e-33 7.703719777548943e-34 3.851859888774472e-34 1.925929944387236e-34 9.62964972193618e-35 4.81482486096809e-35 2.407412430484045e-35 1.2037062152420224e-35 6.018531076210112e-36 3.009265538105056e-36 1.504632769052528e-36 7.52316384526264e-37 3.76158192263132e-37 1.88079096131566e-37 9.4039548065783e-38 4.70197740328915e-38 2.350988701644575e-38 1.1754943508222875e-38 5.877471754111438e-39 2.938735877055719e-39 1.4693679385278594e-39 7.346839692639297e-40 3.6734198463196485e-40 1.8367099231598242e-40 9.183549615799121e-41 4.591774807899561e-41 2.2958874039497803e-41 1.1479437019748901e-41 5.739718509874451e-42 2.8698592549372254e-42 1.4349296274686127e-42 7.174648137343064e-43 3.587324068671532e-43 1.793662034335766e-43 8.96831017167883e-44 4.484155085839415e-44 2.2420775429197073e-44 1.1210387714598537e-44 5.605193857299268e-45 2.802596928649634e-45 1.401298464324817e-45 7.006492321624085e-46 3.503246160812043e-46 1.7516230804060213e-46 8.758115402030107e-47 4.3790577010150533e-47 2.1895288505075267e-47 1.0947644252537633e-47 5.473822126268817e-48 2.7369110631344083e-48 1.3684555315672042e-48 6.842277657836021e-49 3.4211388289180104e-49 1.7105694144590052e-49 8.552847072295026e-50 4.276423536147513e-50 2.1382117680737565e-50 1.0691058840368783e-50 5.345529420184391e-51 2.6727647100921956e-51 1.3363823550460978e-51 6.681911775230489e-52 3.3409558876152446e-52 1.6704779438076223e-52 8.352389719038111e-53 4.176194859519056e-53 2.088097429759528e-53 1.044048714879764e-53 5.22024357439882e-54 2.61012178719941e-54 1.305060893599705e-54 6.525304467998525e-55 3.2626522339992623e-55 1.6313261169996311e-55 8.156630584998156e-56 4.078315292499078e-56 2.039157646249539e-56 1.0195788231247695e-56 5.0978941156238473e-57 2.5489470578119236e-57 1.2744735289059618e-57 6.372367644529809e-58 3.1861838222649046e-58 1.5930919111324523e-58 7.965459555662261e-59 3.982729777831131e-59 1.9913648889155653e-59 9.956824444577827e-60 4.9784122222889134e-60 2.4892061111444567e-60 1.2446030555722283e-60 6.223015277861142e-61 3.111507638930571e-61 1.5557538194652854e-61 7.778769097326427e-62 3.8893845486632136e-62 1.9446922743316068e-62 9.723461371658034e-63 4.861730685829017e-63 2.4308653429145085e-63 1.2154326714572542e-63 6.077163357286271e-64 3.0385816786431356e-64 1.5192908393215678e-64 7.596454196607839e-65 3.7982270983039195e-65 1.8991135491519597e-65 9.495567745759799e-66 4.7477838728798994e-66 2.3738919364399497e-66 1.1869459682199748e-66 5.934729841099874e-67 2.967364920549937e-67 1.4836824602749686e-67 7.418412301374843e-68 3.7092061506874214e-68 1.8546030753437107e-68 9.273015376718553e-69 4.636507688359277e-69 2.3182538441796384e-69 1.1591269220898192e-69 5.795634610449096e-70 2.897817305224548e-70 1.448908652612274e-70 7.24454326306137e-71 3.622271631530685e-71 1.8111358157653425e-71 9.055679078826712e-72 4.527839539413356e-72 2.263919769706678e-72 1.131959884853339e-72 5.659799424266695e-73 2.8298997121333476e-73 1.4149498560666738e-73 7.074749280333369e-74 3.5373746401666845e-74 1.7686873200833423e-74 8.843436600416711e-75 4.421718300208356e-75 2.210859150104178e-75 1.105429575052089e-75 5.527147875260445e-76 2.7635739376302223e-76 1.3817869688151111e-76 6.908934844075556e-77 3.454467422037778e-77 1.727233711018889e-77 8.636168555094445e-78 4.3180842775472223e-78 2.1590421387736112e-78 1.0795210693868056e-78 5.397605346934028e-79 2.698802673467014e-79 1.349401336733507e-79 6.747006683667535e-80 3.3735033418337674e-80 1.6867516709168837e-80 8.433758354584419e-81 4.2168791772922093e-81 2.1084395886461046e-81 1.0542197943230523e-81 5.271098971615262e-82 2.635549485807631e-82 1.3177747429038154e-82 6.588873714519077e-83 3.2944368572595385e-83 1.6472184286297693e-83 8.236092143148846e-84 4.118046071574423e-84 2.0590230357872116e-84 1.0295115178936058e-84 5.147557589468029e-85 2.5737787947340145e-85 1.2868893973670072e-85 6.434446986835036e-86 3.217223493417518e-86 1.608611746708759e-86 8.043058733543795e-87 4.021529366771898e-87 2.010764683385949e-87 1.0053823416929744e-87 5.026911708464872e-88 2.513455854232436e-88 1.256727927116218e-88 6.28363963558109e-89 3.141819817790545e-89 1.5709099088952725e-89 7.854549544476363e-90 3.9272747722381812e-90 1.9636373861190906e-90 9.818186930595453e-91 4.909093465297727e-91 2.4545467326488633e-91 1.2272733663244316e-91 6.136366831622158e-92 3.068183415811079e-92 1.5340917079055395e-92 7.670458539527698e-93 3.835229269763849e-93 1.9176146348819244e-93 9.588073174409622e-94 4.794036587204811e-94 2.3970182936024055e-94 1.1985091468012028e-94 5.992545734006014e-95 2.996272867003007e-95 1.4981364335015035e-95 7.490682167507517e-96 3.745341083753759e-96 1.8726705418768793e-96 9.363352709384397e-97 4.6816763546921983e-97 2.3408381773460992e-97 1.1704190886730496e-97 5.852095443365248e-98 2.926047721682624e-98 1.463023860841312e-98 7.31511930420656e-99 3.65755965210328e-99 1.82877982605164e-99 9.1438991302582e-100 4.5719495651291e-100 2.28597478256455e-100 1.142987391282275e-100 5.714936956411375e-101 2.8574684782056875e-101 1.4287342391028437e-101 7.143671195514219e-102 3.5718355977571093e-102 1.7859177988785547e-102 8.929588994392773e-103 4.464794497196387e-103 2.2323972485981933e-103 1.1161986242990967e-103 5.5809931214954833e-104 2.7904965607477417e-104 1.3952482803738708e-104 6.976241401869354e-105 3.488120700934677e-105 1.7440603504673385e-105 8.720301752336693e-106 4.3601508761683463e-106 2.1800754380841732e-106 1.0900377190420866e-106 5.450188595210433e-107 2.7250942976052165e-107 1.3625471488026082e-107 6.812735744013041e-108 3.4063678720065206e-108 1.7031839360032603e-108 8.515919680016301e-109 4.257959840008151e-109 2.1289799200040754e-109 1.0644899600020377e-109 5.3224498000101884e-110 2.6612249000050942e-110 1.3306124500025471e-110 6.653062250012736e-111 3.326531125006368e-111 1.663265562503184e-111 8.31632781251592e-112 4.15816390625796e-112 2.07908195312898e-112 1.03954097656449e-112 5.19770488282245e-113 2.598852441411225e-113 1.2994262207056124e-113 6.497131103528062e-114 3.248565551764031e-114 1.6242827758820155e-114 8.121413879410078e-115 4.060706939705039e-115 2.0303534698525194e-115 1.0151767349262597e-115 5.075883674631299e-116 2.5379418373156492e-116 1.2689709186578246e-116 6.344854593289123e-117 3.1724272966445615e-117 1.5862136483222808e-117 7.931068241611404e-118 3.965534120805702e-118 1.982767060402851e-118 9.913835302014255e-119 4.9569176510071274e-119 2.4784588255035637e-119 1.2392294127517818e-119 6.196147063758909e-120 3.0980735318794546e-120 1.5490367659397273e-120 7.745183829698637e-121 3.8725919148493183e-121 1.9362959574246591e-121 9.681479787123296e-122 4.840739893561648e-122 2.420369946780824e-122 1.210184973390412e-122 6.05092486695206e-123 3.02546243347603e-123 1.512731216738015e-123 7.563656083690075e-124 3.7818280418450374e-124 1.8909140209225187e-124 9.454570104612593e-125 4.727285052306297e-125 2.3636425261531484e-125 1.1818212630765742e-125 5.909106315382871e-126 2.9545531576914354e-126 1.4772765788457177e-126 7.386382894228589e-127 3.6931914471142943e-127 1.8465957235571472e-127 9.232978617785736e-128 4.616489308892868e-128 2.308244654446434e-128 1.154122327223217e-128 5.770611636116085e-129 2.8853058180580424e-129 1.4426529090290212e-129 7.213264545145106e-130 3.606632272572553e-130 1.8033161362862765e-130 9.016580681431383e-131 4.5082903407156913e-131 2.2541451703578456e-131 1.1270725851789228e-131 5.635362925894614e-132 2.817681462947307e-132 1.4088407314736535e-132 7.044203657368268e-133 3.522101828684134e-133 1.761050914342067e-133 8.805254571710335e-134 4.4026272858551673e-134 2.2013136429275836e-134 1.1006568214637918e-134 5.503284107318959e-135 2.7516420536594796e-135 1.3758210268297398e-135 6.879105134148699e-136 3.4395525670743494e-136 1.7197762835371747e-136 8.598881417685874e-137 4.299440708842937e-137 2.1497203544214684e-137 1.0748601772107342e-137 5.374300886053671e-138 2.6871504430268355e-138 1.3435752215134178e-138 6.717876107567089e-139 3.3589380537835444e-139 1.6794690268917722e-139 8.397345134458861e-140 4.1986725672294305e-140 2.0993362836147152e-140 1.0496681418073576e-140 5.248340709036788e-141 2.624170354518394e-141 1.312085177259197e-141 6.560425886295985e-142 3.2802129431479926e-142 1.6401064715739963e-142 8.200532357869981e-143 4.100266178934991e-143 2.0501330894674953e-143 1.0250665447337477e-143 5.1253327236687384e-144 2.5626663618343692e-144 1.2813331809171846e-144 6.406665904585923e-145 3.2033329522929615e-145 1.6016664761464807e-145 8.008332380732404e-146 4.004166190366202e-146 2.002083095183101e-146 1.0010415475915505e-146 5.0052077379577523e-147 2.5026038689788762e-147 1.2513019344894381e-147 6.256509672447191e-148 3.1282548362235952e-148 1.5641274181117976e-148 7.820637090558988e-149 3.910318545279494e-149 1.955159272639747e-149 9.775796363198735e-150 4.887898181599368e-150 2.443949090799684e-150 1.221974545399842e-150 6.10987272699921e-151 3.054936363499605e-151 1.5274681817498023e-151 7.637340908749012e-152 3.818670454374506e-152 1.909335227187253e-152 9.546676135936265e-153 4.7733380679681323e-153 2.3866690339840662e-153 1.1933345169920331e-153 5.966672584960166e-154 2.983336292480083e-154 1.4916681462400413e-154 7.458340731200207e-155 3.7291703656001034e-155 1.8645851828000517e-155 9.322925914000258e-156 4.661462957000129e-156 2.3307314785000646e-156 1.1653657392500323e-156 5.826828696250162e-157 2.913414348125081e-157 1.4567071740625404e-157 7.283535870312702e-158 3.641767935156351e-158 1.8208839675781755e-158 9.104419837890877e-159 4.552209918945439e-159 2.2761049594727193e-159 1.1380524797363597e-159 5.6902623986817984e-160 2.8451311993408992e-160 1.4225655996704496e-160 7.112827998352248e-161 3.556413999176124e-161 1.778206999588062e-161 8.89103499794031e-162 4.445517498970155e-162 2.2227587494850775e-162 1.1113793747425387e-162 5.556896873712694e-163 2.778448436856347e-163 1.3892242184281734e-163 6.946121092140867e-164 3.4730605460704336e-164 1.7365302730352168e-164 8.682651365176084e-165 4.341325682588042e-165 2.170662841294021e-165 1.0853314206470105e-165 5.426657103235053e-166 2.7133285516175262e-166 1.3566642758087631e-166 6.783321379043816e-167 3.391660689521908e-167 1.695830344760954e-167 8.47915172380477e-168 4.239575861902385e-168 2.1197879309511924e-168 1.0598939654755962e-168 5.299469827377981e-169 2.6497349136889905e-169 1.3248674568444952e-169 6.624337284222476e-170 3.312168642111238e-170 1.656084321055619e-170 8.280421605278095e-171 4.140210802639048e-171 2.070105401319524e-171 1.035052700659762e-171 5.17526350329881e-172 2.587631751649405e-172 1.2938158758247024e-172 6.469079379123512e-173 3.234539689561756e-173 1.617269844780878e-173 8.08634922390439e-174 4.043174611952195e-174 2.0215873059760975e-174 1.0107936529880487e-174 5.053968264940244e-175 2.526984132470122e-175 1.263492066235061e-175 6.317460331175305e-176 3.1587301655876523e-176 1.5793650827938261e-176 7.896825413969131e-177 3.9484127069845653e-177 1.9742063534922827e-177 9.871031767461413e-178 4.935515883730707e-178 2.4677579418653533e-178 1.2338789709326767e-178 6.169394854663383e-179 3.084697427331692e-179 1.542348713665846e-179 7.71174356832923e-180 3.855871784164615e-180 1.9279358920823073e-180 9.639679460411536e-181 4.819839730205768e-181 2.409919865102884e-181 1.204959932551442e-181 6.02479966275721e-182 3.012399831378605e-182 1.5061999156893026e-182 7.530999578446513e-183 3.7654997892232564e-183 1.8827498946116282e-183 9.413749473058141e-184 4.706874736529071e-184 2.3534373682645353e-184 1.1767186841322676e-184 5.883593420661338e-185 2.941796710330669e-185 1.4708983551653345e-185 7.354491775826673e-186 3.6772458879133364e-186 1.8386229439566682e-186 9.193114719783341e-187 4.5965573598916705e-187 2.2982786799458352e-187 1.1491393399729176e-187 5.745696699864588e-188 2.872848349932294e-188 1.436424174966147e-188 7.182120874830735e-189 3.5910604374153675e-189 1.7955302187076838e-189 8.977651093538419e-190 4.4888255467692094e-190 2.2444127733846047e-190 1.1222063866923024e-190 5.611031933461512e-191 2.805515966730756e-191 1.402757983365378e-191 7.01378991682689e-192 3.506894958413445e-192 1.7534474792067224e-192 8.767237396033612e-193 4.383618698016806e-193 2.191809349008403e-193 1.0959046745042015e-193 5.479523372521008e-194 2.739761686260504e-194 1.369880843130252e-194 6.84940421565126e-195 3.42470210782563e-195 1.712351053912815e-195 8.561755269564074e-196 4.280877634782037e-196 2.1404388173910186e-196 1.0702194086955093e-196 5.351097043477547e-197 2.6755485217387732e-197 1.3377742608693866e-197 6.688871304346933e-198 3.3444356521734666e-198 1.6722178260867333e-198 8.361089130433666e-199 4.180544565216833e-199 2.0902722826084166e-199 1.0451361413042083e-199 5.225680706521042e-200 2.612840353260521e-200 1.3064201766302604e-200 6.532100883151302e-201 3.266050441575651e-201 1.6330252207878255e-201 8.165126103939127e-202 4.082563051969564e-202 2.041281525984782e-202 1.020640762992391e-202 5.103203814961955e-203 2.5516019074809773e-203 1.2758009537404886e-203 6.379004768702443e-204 3.1895023843512216e-204 1.5947511921756108e-204 7.973755960878054e-205 3.986877980439027e-205 1.9934389902195135e-205 9.967194951097568e-206 4.983597475548784e-206 2.491798737774392e-206 1.245899368887196e-206 6.22949684443598e-207 3.11474842221799e-207 1.557374211108995e-207 7.786871055544975e-208 3.8934355277724873e-208 1.9467177638862437e-208 9.733588819431218e-209 4.866794409715609e-209 2.4333972048578046e-209 1.2166986024289023e-209 6.083493012144512e-210 3.041746506072256e-210 1.520873253036128e-210 7.60436626518064e-211 3.80218313259032e-211 1.90109156629516e-211 9.5054578314758e-212 4.7527289157379e-212 2.37636445786895e-212 1.188182228934475e-212 5.940911144672375e-213 2.9704555723361872e-213 1.4852277861680936e-213 7.426138930840468e-214 3.713069465420234e-214 1.856534732710117e-214 9.282673663550585e-215 4.641336831775293e-215 2.3206684158876463e-215 1.1603342079438231e-215 5.801671039719116e-216 2.900835519859558e-216 1.450417759929779e-216 7.252088799648895e-217 3.6260443998244473e-217 1.8130221999122236e-217 9.065110999561118e-218 4.532555499780559e-218 2.2662777498902796e-218 1.1331388749451398e-218 5.665694374725699e-219 2.8328471873628494e-219 1.4164235936814247e-219 7.082117968407124e-220 3.541058984203562e-220 1.770529492101781e-220 8.852647460508905e-221 4.4263237302544523e-221 2.2131618651272261e-221 1.1065809325636131e-221 5.5329046628180653e-222 2.7664523314090327e-222 1.3832261657045163e-222 6.916130828522582e-223 3.458065414261291e-223 1.7290327071306454e-223 8.645163535653227e-224 4.322581767826614e-224 2.161290883913307e-224 1.0806454419566534e-224 5.403227209783267e-225 2.7016136048916335e-225 1.3508068024458167e-225 6.754034012229084e-226 3.377017006114542e-226 1.688508503057271e-226 8.442542515286355e-227 4.2212712576431773e-227 2.1106356288215886e-227 1.0553178144107943e-227 5.276589072053972e-228 2.638294536026986e-228 1.319147268013493e-228 6.595736340067465e-229 3.2978681700337323e-229 1.6489340850168661e-229 8.244670425084331e-230 4.1223352125421653e-230 2.0611676062710827e-230 1.0305838031355413e-230 5.152919015677707e-231 2.5764595078388533e-231 1.2882297539194267e-231 6.441148769597133e-232 3.220574384798567e-232 1.6102871923992833e-232 8.051435961996417e-233 4.0257179809982083e-233 2.0128589904991042e-233 1.0064294952495521e-233 5.0321474762477604e-234 2.5160737381238802e-234 1.2580368690619401e-234 6.290184345309701e-235 3.1450921726548502e-235 1.5725460863274251e-235 7.862730431637126e-236 3.931365215818563e-236 1.9656826079092814e-236 9.828413039546407e-237 4.914206519773204e-237 2.457103259886602e-237 1.228551629943301e-237 6.142758149716505e-238 3.0713790748582522e-238 1.5356895374291261e-238 7.678447687145631e-239 3.8392238435728152e-239 1.9196119217864076e-239 9.598059608932038e-240 4.799029804466019e-240 2.3995149022330095e-240 1.1997574511165048e-240 5.998787255582524e-241 2.999393627791262e-241 1.499696813895631e-241 7.498484069478155e-242 3.7492420347390774e-242 1.8746210173695387e-242 9.373105086847693e-243 4.686552543423847e-243 2.3432762717119234e-243 1.1716381358559617e-243 5.858190679279809e-244 2.9290953396399042e-244 1.4645476698199521e-244 7.322738349099761e-245 3.6613691745498803e-245 1.8306845872749401e-245 9.153422936374701e-246 4.5767114681873503e-246 2.2883557340936752e-246 1.1441778670468376e-246 5.720889335234188e-247 2.860444667617094e-247 1.430222333808547e-247 7.151111669042735e-248 3.5755558345213674e-248 1.7877779172606837e-248 8.938889586303419e-249 4.4694447931517093e-249 2.2347223965758547e-249 1.1173611982879273e-249 5.586805991439637e-250 2.7934029957198183e-250 1.3967014978599092e-250 6.983507489299546e-251 3.491753744649773e-251 1.7458768723248864e-251 8.729384361624432e-252 4.364692180812216e-252 2.182346090406108e-252 1.091173045203054e-252 5.45586522601527e-253 2.727932613007635e-253 1.3639663065038175e-253 6.819831532519088e-254 3.409915766259544e-254 1.704957883129772e-254 8.52478941564886e-255 4.26239470782443e-255 2.131197353912215e-255 1.0655986769561075e-255 5.327993384780537e-256 2.6639966923902686e-256 1.3319983461951343e-256 6.659991730975672e-257 3.329995865487836e-257 1.664997932743918e-257 8.32498966371959e-258 4.162494831859795e-258 2.0812474159298974e-258 1.0406237079649487e-258 5.2031185398247434e-259 2.6015592699123717e-259 1.3007796349561859e-259 6.503898174780929e-260 3.2519490873904646e-260 1.6259745436952323e-260 8.129872718476162e-261 4.064936359238081e-261 2.0324681796190404e-261 1.0162340898095202e-261 5.081170449047601e-262 2.5405852245238005e-262 1.2702926122619002e-262 6.351463061309501e-263 3.1757315306547506e-263 1.5878657653273753e-263 7.939328826636877e-264 3.9696644133184383e-264 1.9848322066592191e-264 9.924161033296096e-265 4.962080516648048

In [48]:
def countHi(s, count=0):
    for i in range(len(s)-1):
        print(s[i])
        if s[i] == 'h'  and s[i+1]=='i':
            count+=1
    print(count)
    
    # YOUR CODE GOES HERE

In [49]:
s="hishisha"

In [50]:
countHi(s)

h
i
s
h
i
s
h
2

In [55]:
counter=0
for i in range(1, n):
    counter+=1
    for j in range(1, n//4):
        counter+=1
        for k in range(1, n):
            counter+=1
            print(counter)
            break
    print()

In [71]:

n=2
for i in range(1, n+1):

    for j in range(1, n+1):
        counter=0

        for k in range(n//2, n+1, n//2):

            counter += 1

In [72]:
print(counter)

2

In [70]:
n//2

1

In [2]:
def no_of_days(n):
    '''n => it's the month index.
       output => an integer for number of days in month at index n is expected.'''
    
    ans = None
    # YOUR CODE GOES HERE
    if n>12:
        ans="Incorrect details"
        
    if (n==1)or (n==3)or (n==5)or (n==7)or (n==8)or (n==10)or(n==12):
        ans=31
    elif n==2:
        ans=28
    else:
        ans=30
    
    
    return ans

In [3]:
def replace_cube(arr, N):
    '''
    input:
    arr -> list of the input numbers
    N -> value of N as mentioned in the question
    
    output:
    res_list -> resultant list formed after doing the required computation as mentioned in the question
    '''
    res_list = []
    # Your code starts here
    for a in range(len(arr)):
        if(a%N==0):
            arr[a]=arr[a]**3  
        res_list.append(arr[a])    # Your code ends here
    return res_list

In [4]:
arr=[1,2,3,4]
N=2
replace_cube(arr, N)

[1, 8, 3, 64]

In [71]:
comp1=list("Accounting Teaching Development Marketing Finance HR")
comp2=list("Marketing Sales Production Operations HR")

In [72]:
def unique_common(comp1,comp2):
    
    ''' input:comp1,comp2-two lists with different departments taken as inputs
         output:return unique and common departments from two companies in the form of sets'''
    str1=None
    print(comp1)
    
    #str1=set(comp1.split(" "))
    #str2=set(comp2.split(" "))
    #print(str1.intersection(str2))

In [73]:
unique_common(comp1,comp2)

['A', 'c', 'c', 'o', 'u', 'n', 't', 'i', 'n', 'g', ' ', 'T', 'e', 'a', 'c', 'h', 'i', 'n', 'g', ' ', 'D', 'e', 'v', 'e', 'l', 'o', 'p', 'm', 'e', 'n', 't', ' ', 'M', 'a', 'r', 'k', 'e', 't', 'i', 'n', 'g', ' ', 'F', 'i', 'n', 'a', 'n', 'c', 'e', ' ', 'H', 'R']

In [19]:
def flatten(arr):
    '''
    input:
    arr -> given nested python list
    
    output:
    res_arr -> the nested list, flattened and sorted
    '''
    res_arr = []
    
    # Your Code Starts here
    for a in (arr):
        if isinstance (a, list):
            res_arr.extend(flatten(a))
            
        else:
            res_arr.append(a)
            
    
    # Your Code Ends here
    return res_arr

In [20]:
b=[20,1,2,[2,3,[2,3,4],4,5],4]

In [21]:
flatten(b)

[20, 1, 2, 2, 3, 2, 3, 4, 4, 5, 4]

In [13]:
k=[]

In [17]:
lis=[(0,1), (1,3),(2,4)]
result=sum(n for _, n in lis)
print(result)

8

In [10]:
lis=[(0,1), (1,3),(2,4)]

In [14]:
names=['Arun', 'Nihal', 'Sanjay']
runs=[25,50,3]
wickets=[3,5,4]
bowls=[7,12,3]

In [15]:
#

In [42]:
def man_of_match(names, runs, wickets, bowls):
    '''
    input:
    names -> list of names of the players
    runs -> list of runs of the respective players
    wickets -> list of wickets taken by the respective players
    bowls -> list of bowls by the respective players
    
    output:
    data -> data of the players in dictionary format
    manOfMatch -> name of the man of the match
    '''
    data = {}
    manOfMatch = "test"
    
    # Your code starts here
    sr=0
    for a in range(len(names)):

        data[names[a]]=[runs[a], wickets[a], bowls[a]]
        
        sr=(runs[a]/bowls[a])
        
        if (sr>4 and wickets[a]>2) or (sr<4 and wickets[a]>4):
            manOfMatch=names[a]
    # Your code ends here
    return data, manOfMatch

In [43]:
man_of_match(names, runs, wickets, bowls)

({'Arun': [25, 3, 7], 'Nihal': [50, 5, 12], 'Sanjay': [3, 4, 3]}, 'Nihal')

In [21]:
arr=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [22]:
k=arr[::2]
k

[[1, 2, 3], [7, 8, 9]]

In [20]:
import numpy as np
np.array(k).flatten()

array([1, 2, 3, 7, 8, 9])

In [23]:
result=[item for sublist in arr for item in sublist]
result

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
import numpy as np

In [26]:
arr=[[ 0,  1,  2,  3],  
 [ 4,  5,  6,  7],   
 [ 8,  9, 10, 11],   
 [12, 13, 14, 15],   
 [16, 17, 18, 19]]

In [27]:
arr=np.array(arr)

In [30]:
row_array=arr[1:4:]
row_array

array([[ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [31]:
cols_array=row_array[:,1:]
cols_array

array([[ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15]])

In [32]:
cols_array=cols_array[::-1]
cols_array

array([[13, 14, 15],
       [ 9, 10, 11],
       [ 5,  6,  7]])

In [1]:
birds = ['sparrow', 'peacock', 'parrot', 'owl', 'peacock', 'macaw', 'macaw', 'parrot', 'macaw', 'peacock']  
age = [6, 1, 6, 5, 7, 6, 0, 9, 0, 7]

In [9]:
k=age.index(max(age))

In [10]:
birds[k]

'parrot'

In [9]:
import numpy as np

In [11]:
birds = np.array(['spoonbills',  'plovers',  'plovers',  'plovers',  'plovers',  'Cranes',  'plovers',  'plovers',  'Cranes',  'spoonbills'])
age = [5.5, 6.0, 3.5, 1.5, 3.0, 4.0, 3.5, 2.0, 5.5, 6.0]

In [26]:
age=np.array(age)

In [27]:
mask=[(bird=="Cranes") for bird in birds ]

In [28]:
[np.where(birds=='Cranes')]

[(array([5, 8], dtype=int64),)]

In [39]:
d2=age[mask]

In [40]:
d2.sum()/len(d2)

4.75

In [41]:
d2.mean()

4.75

In [16]:
birds = np.array(['spoonbills',  'plovers',  'plovers',  'plovers',  'plovers',  'Cranes',  'plovers',  'plovers',  'Cranes',  'spoonbills'])
age = np.array([5.5, 6.0, 3.5, 1.5, 3.0, 4.0, 3.5, 2.0, 5.5, 6.0])

In [17]:
p=np.argsort(age)
p

array([3, 7, 4, 2, 6, 5, 0, 8, 1, 9], dtype=int64)

In [19]:
birds[p]

array(['plovers', 'plovers', 'plovers', 'plovers', 'plovers', 'Cranes',
       'spoonbills', 'Cranes', 'plovers', 'spoonbills'], dtype='<U10')

In [1]:
import numpy as np

In [23]:
arr=np.array([[1,2,3],[3,2,1]])

In [26]:
    ## STEP 1: Calculate exponent of -ve x
    
    z = [np.exp(-x) for x in arr]
    
    ## STEP 2: Calculate denominator (1 + z) where z = e^-x
    
    denom = [1+x for x in z]
    
    ## Calculate sigmoid using numerator and denominator
    
    result = [1/x for x in denom]
    
    ## Round off the values to two decimal places
    
    result =  [np.around(x,2) for x in result]
    
    result=np.array(result)
    result

array([[0.73, 0.88, 0.95],
       [0.95, 0.88, 0.73]])

In [16]:
z

[7.38905609893065,
 2.718281828459045,
 1.0,
 0.36787944117144233,
 0.1353352832366127]

In [10]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8])
k = 3

In [13]:
import numpy as np

#def check_conditions(arr, k):
   # '''
   # INPUT: arr, k
    
   ## OUTPUT: result -> bool
    #'''
    
result = None
    
    ## STEP 1 : Create mask for the given condition
    
mask = [ True  if ((x%2==0) and (x>2)) else False for x in arr ]
    
    ## STEP 2: Use logical function on mask
    
result = True if len(arr)==len(arr[mask]) else False
    
result
    
    #return result

False

In [1]:
import numpy as np

In [6]:
arr = [0,1,2,4,5,6,7,8]
k = 4
split_arr=list()

In [7]:
np.array_split(arr,k)

[array([0, 1]), array([2, 4]), array([5, 6]), array([7, 8])]

In [1]:
import numpy as np

In [5]:
arr=np.array([[0, 1, 2, 3],
 [4, 5, 6, 7],
 [8, 9, 10, 11],
 [12, 13, 14, 15],
 [16, 17, 18, 19],
 [20, 21, 22, 23]])

In [7]:
arr.shape

(6, 4)

In [15]:
np.hsplit(arr,np.array([2,3]))

[array([[ 0,  1],
        [ 4,  5],
        [ 8,  9],
        [12, 13],
        [16, 17],
        [20, 21]]),
 array([[ 2],
        [ 6],
        [10],
        [14],
        [18],
        [22]]),
 array([[ 3],
        [ 7],
        [11],
        [15],
        [19],
        [23]])]

In [29]:
row_count=4
k=300

In [30]:
import numpy as np

In [31]:
result= np.array(1)

In [33]:
result= np.zeros((row_count-1, row_count-1), int)
##result= np.fill_diagonal(result, k)

In [34]:
np.fill_diagonal(result, k)

In [35]:
result

array([[300,   0,   0],
       [  0, 300,   0],
       [  0,   0, 300]])

In [1]:
arr=[-1,2,3,-4,5]
k=3

In [1]:
import numpy as np

In [20]:
res=list(filter(lambda x:x>k, arr))[0]

In [21]:
res

5

In [22]:
g=arr.index(res)

In [24]:
print([g])

[4]

In [2]:
A=np.array([1,1,2,2,4])
B=np.array([0.6,1.29,1.99,2.69,3.4])

In [4]:
diff=np.subtract(A,B)

In [5]:
sq_diff= np.square(diff)

In [8]:
mean_sq_diff=np.mean(sq_diff)

In [9]:
mean_sq_diff= round(mean_sq_diff, 2)

In [10]:
mean_sq_diff

0.22

In [2]:

import pandas as pd

In [2]:
string="How much wood would a woodchuck chuck if a woodchuck could chuck wood"

In [24]:
k=(string.split())

In [21]:
j=pd.DataFrame(k.value_counts())

In [22]:
#j.sort_index(inplace=True)

In [23]:
j.index

Index(['wood', 'a', 'woodchuck', 'chuck', 'How', 'much', 'would', 'if',
       'could'],
      dtype='object')

In [26]:
res = pd.DataFrame('t1'=freq)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2544616160.py, line 1)

In [7]:
freq = string.split()
    # sort the indices
freq

['How',
 'much',
 'wood',
 'would',
 'a',
 'woodchuck',
 'chuck',
 'if',
 'a',
 'woodchuck',
 'could',
 'chuck',
 'wood']

In [12]:
res = pd.DataFrame(freq)
res

            0
0         How
1        much
2        wood
3       would
4           a
5   woodchuck
6       chuck
7          if
8           a
9   woodchuck
10      could
11      chuck
12       wood

In [14]:
k=res.value_counts()
k

a            2
chuck        2
wood         2
woodchuck    2
How          1
could        1
if           1
much         1
would        1
dtype: int64

In [18]:
k.sort_index()

How          1
a            2
chuck        2
could        1
if           1
much         1
wood         2
woodchuck    2
would        1
dtype: int64

In [20]:
res.iloc[0:].value_counts()

a            2
chuck        2
wood         2
woodchuck    2
How          1
could        1
if           1
much         1
would        1
dtype: int64

In [1]:
import pandas as pd
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45],
    "mass": [12, 4, 8]
}

In [19]:
import pandas as pd
data = {  "calories\tpluto": ['tiuer\tkhjagfds', 'oiuer\tdfgkj', 'hatdgf\toiaurej']}

In [20]:
df=pd.DataFrame(data)

In [21]:
df

   calories\tpluto
0  tiuer\tkhjagfds
1     oiuer\tdfgkj
2  hatdgf\toiaurej

In [22]:
df_new=df['calories\tpluto'].str.split(pat='\t', expand=True)
df_new

        0         1
0   tiuer  khjagfds
1   oiuer     dfgkj
2  hatdgf   oiaurej

In [27]:
df_new.columns=df.columns[0].split('\t')
df_new

  calories     pluto
0    tiuer  khjagfds
1    oiuer     dfgkj
2   hatdgf   oiaurej

In [6]:
k=df[df['calories']>=385]
k

   calories  duration  mass
0       420        50    12
2       390        45     8

In [ ]:
k.sort_values([calories])

In [30]:
df[['calories', 'duration', 'mass']].mean(axis=1)

0    160.666667
1    141.333333
2    147.666667
dtype: float64

In [8]:
k=df[df['calories']==380].index

In [9]:
df.drop(k)

   calories  duration  mass
0       420        50    12
2       390        45     8

In [10]:
df[0:2][['calories', 'duration']]

   calories  duration
0       420        50
1       380        40

In [13]:
a=46465

In [1]:
n=int(input())
l=list()
for i in range(n):
    c=0
    a=int(input())
    sum = 0
    for digit in str(a): 
        ==
        sum += int(digit)
    i=i+1 
    l.append(sum)
for k in l:
    print(k)

2
10
1
0
12
1
2
1
3

In [15]:
b

0

In [ ]:
int(10//10)

In [4]:
d=b%10

NameError: name 'b' is not defined

In [33]:
import numpy as np
a = np.array([5,1,2,3,4,5])
b = np.array([4,10,50,40,80])

In [7]:
a.min()

1

In [8]:
a.max()

5

In [9]:
b.min()

4

In [11]:
b.max()

80

In [25]:
a = int(input())

1

In [40]:
c=a[0]
d==a[0]
for l in a:

    if l<c:
        c=l
        print(l,c)
    if l>d:
        d=l
        print(d)

1 1

In [30]:
a

array([5, 1, 2, 3, 4, 5])

In [31]:
for l in a:
    print(l)

5
1
2
3
4
5

In [ ]:
list(map(int, input().split()))

In [1]:
import pandas as pd
df = pd.DataFrame({'dates':["2015-12-06", "2011-12-27", "2015-09-07", "2012-12-21", "2020-02-13"], 'RID':[498, 721, 375, 464, 813], 'Phy':[22, 45, 1, 65, 22], 'Chem':[52, 56, 32, 50, 24], 'Math':[63, 37, 68, 62, 43]})

In [2]:
df

        dates  RID  Phy  Chem  Math
0  2015-12-06  498   22    52    63
1  2011-12-27  721   45    56    37
2  2015-09-07  375    1    32    68
3  2012-12-21  464   65    50    62
4  2020-02-13  813   22    24    43

In [ ]:
df[(df['RID']>400)]  or df[df['Chem']>50] and df[(df['Phy']>20)]

In [21]:
df[df['Chem']>50]

        dates  RID  Phy  Chem  Math
0  2015-12-06  498   22    52    63
1  2011-12-27  721   45    56    37

In [24]:
df[((df['RID']>400)) |  (df['Chem']>50)]

        dates  RID  Phy  Chem  Math
0  2015-12-06  498   22    52    63
1  2011-12-27  721   45    56    37
3  2012-12-21  464   65    50    62
4  2020-02-13  813   22    24    43

In [10]:
df.dates=pd.to_datetime(df.dates)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   dates   5 non-null      datetime64[ns]
 1   RID     5 non-null      int64
 2   Phy     5 non-null      int64
 3   Chem    5 non-null      int64
 4   Math    5 non-null      int64
dtypes: datetime64[ns](1), int64(4)
memory usage: 328.0 bytes

In [13]:
filtered_df =df[df['dates']>='01/05/2014']
filtered_df

       dates  RID  Phy  Chem  Math
0 2015-12-06  498   22    52    63
2 2015-09-07  375    1    32    68
4 2020-02-13  813   22    24    43

In [18]:
filtered_df["avg"] =filtered_df[['Phy', 'Chem', 'Math']].mean(axis=1)
filtered_df["avg"]

C:\Users\hp\AppData\Local\Temp\ipykernel_12932\981640315.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df["avg"] =filtered_df[['Phy', 'Chem', 'Math']].mean(axis=1)

0    45.666667
2    33.666667
4    29.666667
Name: avg, dtype: float64

In [23]:
filtered_df.iloc[:, 2:]

   Phy  Chem  Math        avg
0   22    52    63  45.666667
2    1    32    68  33.666667
4   22    24    43  29.666667

In [20]:
res_df = filtered_df.sort_values(by='avg')['RID']
res_df

4    813
2    375
0    498
Name: RID, dtype: int64

In [ ]:
 df_new=df[(df['Percentage']>=75) & ((df['Stream']=='Commerce') | (df['Stream']=='Arts'))]['Name']

In [1]:
import numpy as np
A = np.array([2, 0, 1, 9, 1, 1, 1, 0, 3, 5])

In [3]:
[x+1 for x in A]

[3, 1, 2, 10, 2, 2, 2, 1, 4, 6]

In [6]:
list(map(lambda x:x+1, A))

[3, 1, 2, 10, 2, 2, 2, 1, 4, 6]

In [2]:
b=np.array([[1, 2 ,3], 
 [4, 5, 6],
 [7 ,8, 9]])

In [3]:
np.pad(b, [(1, ), (1, )], mode='constant')

array([[0, 0, 0, 0, 0],
       [0, 1, 2, 3, 0],
       [0, 4, 5, 6, 0],
       [0, 7, 8, 9, 0],
       [0, 0, 0, 0, 0]])

In [5]:
b

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [7]:
np.rot90(b,3)

array([[7, 4, 1],
       [8, 5, 2],
       [9, 6, 3]])

In [14]:
[[7 4 1]
 [8 5 2]
 [9 6 3]]

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [20]:
b

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [21]:
b.T

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [27]:
b

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [28]:
b.T

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [58]:
b.T

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [73]:
b[0,0:], b[b.ndim:,]=b[b.ndim:,],b[0,0:]

In [61]:
b[0,0:]

array([1, 2, 3])

In [74]:
b[b.ndim:,]

array([[7, 8, 9]])

In [75]:
b[0,0:]

array([7, 8, 9])

In [62]:
b[2:]

array([[7, 8, 9]])

In [77]:
b

array([[7, 8, 9],
       [4, 5, 6],
       [7, 8, 9]])

In [65]:
a,b=2,3

In [66]:
a,b=b,a

In [67]:
a,b

(3, 2)

In [83]:
b=b.T

In [84]:
b

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [91]:
b[:, [b.ndim,0]]=b[:, [0,b.ndim]]

In [95]:
b[:, [0,b.ndim]]

array([[7, 1],
       [8, 2],
       [9, 3]])

In [93]:
b[:, [b.ndim,0]]

array([[1, 7],
       [2, 8],
       [3, 9]])

In [92]:
b

array([[7, 4, 1],
       [8, 5, 2],
       [9, 6, 3]])

In [120]:
b=np.array([[1],[2]])

In [113]:
b.T

array([[1, 2]])

In [114]:
b[:, [b.shape[1],0]]=b[:, [0,b.shape[1]]]

IndexError: index 1 is out of bounds for axis 1 with size 1

In [118]:
b[:,b.shape[1],0]

IndexError: too many indices for array: array is 2-dimensional, but 3 were indexed

In [119]:
if b.ndim=1:

SyntaxError: invalid syntax (1997241229.py, line 1)

In [126]:
np.rot90(b.T).T

array([[2, 1]])

In [132]:
x = np.array([-5, 9 , 20 , 25, -3, 5, 16, 10])
x[(x >= -5) & (x <= 15)] *= -1

In [133]:
x

array([  5,  -9,  20,  25,   3,  -5,  16, -10])

In [135]:
b=np.array([[ 7, 4, 8, 5 ,1],  
 [ 8, 0 ,11, 3, 5], 
 [ 9, 6, 3, 5, 0],
 [ 1, 5,7, 3,2],  
 [ 4, 7,2,9,1]])

In [139]:
c=b[b%2==0]

array([4, 8, 8, 0, 6, 0, 2, 4, 2])

In [148]:
c

array([4, 8, 8, 0, 6, 0, 2, 4, 2])

In [146]:
c.reshape(int(np.sqrt(len(c))),-1)

array([[4, 8, 8],
       [0, 6, 0],
       [2, 4, 2]])

In [2]:
import numpy as np
x = np.ones((5,5))
x[1:-1,1:-1] = 0

In [3]:
x

array([[1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 1.],
       [1., 0., 0., 0., 1.],
       [1., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1.]])

In [8]:
print(np.sort(np.array(['Ram','Astha','Raghavendra'])))

['Astha' 'Raghavendra' 'Ram']

In [9]:
arr1=np.array(['Ram','Astha','Brahat'])
arr2=np.array(['Shyam','Kalyan','Naveen'])
arr1>arr2

array([False, False, False])

In [10]:
x

array([[1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 1.],
       [1., 0., 0., 0., 1.],
       [1., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1.]])

In [12]:
x.shape[1]

5

In [13]:
x[1:3, 2:4]

array([[0., 0.],
       [0., 0.]])

In [1]:
import pandas as pd

In [76]:
df= pd.DataFrame({'name':["Ram","Shyam","Mukesh","Suresh"],'age':[10,18,60,50]})

In [77]:
df

     name  age
0     Ram   10
1   Shyam   18
2  Mukesh   60
3  Suresh   50

In [78]:
df['age']=pd.to_numeric(df['age'] )

In [79]:
df['age']=df['age'].apply(lambda x:'kid' if x<18 else('senior' if x>50 else 'adult') )
#df['age']=df['age'].apply(lambda x:'senior' if x>50  else 'adult')

In [42]:
def com(age):
    age=int(age)
    if age<18:
        age='kid'
    elif age>18 and age<50:
        age='adult'
    else:
        age='senior'
    return age

In [30]:
def com(age):
    print(age)

In [43]:
df['age']=df.age.apply(com)

In [80]:
df

     name     age
0     Ram     kid
1   Shyam   adult
2  Mukesh  senior
3  Suresh   adult

In [1]:
import pandas as pd
pd.DataFrame({'Region': {36: 'Central', 14: 'Central', 30: 'Central', 25: 'West', 31: 'Central', 38: 'West', 18: 'East'}, 'Manager': {36: 'Timothy', 14: 'Douglas', 30: 'Timothy', 25: 'Timothy', 31: 'Hermann', 38: 'Douglas', 18: 'Douglas'}, 'SalesMan': {36: 'David', 14: 'John', 30: 'David', 25: 'Stephen', 31: 'Shelli', 38: 'Michael', 18: 'Karen'}, 'Item': {36: 'Television', 14: 'Desk', 30: 'Home Theater', 25: 'Home Theater', 31: 'Desk', 38: 'Home Theater', 18: 'Cell Phone'}, 'Units': {36: 7.0, 14: 2.0, 30: 80.0, 25: 7.0, 31: 5.0, 38: 57.0, 18: 15.0}, 'Unit_price': {36: 1198.0, 14: 125.0, 30: 500.0, 25: 500.0, 31: 125.0, 38: 500.0, 18: 225.0}, 'Sale_amt': {36: 8386.0, 14: 250.0, 30: 40000.0, 25: 3500.0, 31: 625.0, 38: 28500.0, 18: 3375.0}})

     Region  Manager SalesMan          Item  Units  Unit_price  Sale_amt
36  Central  Timothy    David    Television    7.0      1198.0    8386.0
14  Central  Douglas     John          Desk    2.0       125.0     250.0
30  Central  Timothy    David  Home Theater   80.0       500.0   40000.0
25     West  Timothy  Stephen  Home Theater    7.0       500.0    3500.0
31  Central  Hermann   Shelli          Desk    5.0       125.0     625.0
38     West  Douglas  Michael  Home Theater   57.0       500.0   28500.0
18     East  Douglas    Karen    Cell Phone   15.0       225.0    3375.0

In [1]:
import pandas as pd  
df1 = pd.DataFrame({'chem_score':[10, 9, 8, 7], 'phy_score':[7, 8, 9, 10], 'Hindi_score':[9, 9, 9, 9]}, index = ['tobey', 'peter', 'chris', 'pratt'])  
df2 = pd.DataFrame({'chem_score':[10, 10, 10, 9], 'maths_score':[6, 6, 7, 9], 'eng_score':[9, 10, 10, 9]}, index = ['chris', 'pratt', 'andrew', 'tom'])

In [2]:
df1

       chem_score  phy_score  Hindi_score
tobey          10          7            9
peter           9          8            9
chris           8          9            9
pratt           7         10            9

In [38]:
df2

        chem_score  maths_score  eng_score
chris           10            6          9
pratt           10            6         10
andrew          10            7         10
tom              9            9          9

In [39]:
k=list()
k=(df1.chem_score.mean()+df2.chem_score.mean())/2
k

9.125

In [40]:
df=pd.merge(df1,df2, left_index=True, right_index=True, how='inner')

In [41]:
df

,chem_score_x,phy_score,Hindi_score,chem_score_y,maths_score,eng_score
chris,8,9,9,10,6,9
pratt,7,10,9,10,6,10

In [42]:
k1=df.mean(axis=1).to_list()
k1

[8.5, 8.666666666666666]

In [45]:
k=[k]

In [47]:
k.append(k1)

In [48]:
k

[9.125, [8.5, 8.666666666666666]]