In [ ]:
##Committed to GitHub

In [4]:
## First commit

def check(emails):
    '''
    input:
    emails -> list of emails to check
    
    output:
    verified_lex -> the verified list of emails, in lexicographical order
    '''
    
    verified_lex = None
    
    # Your code starts here
    
    # Your code ends here
    return verified_lex

In [23]:
emails=['sara@scaler.com', 'brian-23@scaler.com', 'brute_54@scaler.com', 'new_good_beautiful_latest@.com',"new_@est@.com", "as@", "@sd" ]

In [14]:
verified_lex=[]
for a in emails:
    if a.count('@')==1:
        check, check1=[],[]
        for b in a:
            if b!='@':
                check.append(b)
 
            if b=='@':
                break
        
        for b in a:
            if b == @:
                
            
        
        if len(check)<21 and len(check)>0:
            verified_lex.append(a)
print(verified_lex)

['sara@scaler.com', 'brian-23@scaler.com', 'brute_54@scaler.com']

In [26]:
verified_lex=[]
check, check1=[],[]


for a in emails:
    if a.count('@')==1 and len(a.partition('@')[0])>0 and len(a.partition('@')[2])>0 and len(a.partition('@')[0])<21:
        verified_lex.append(a)
        
list(set(verified_lex ))

['brute_54@scaler.com', 'brian-23@scaler.com', 'sara@scaler.com']

In [31]:
verified_lex=[]
verified_lex = sorted(filter([a:a if (a.count('@')==1 and len(a.partition('@')[0])>0 and len(a.partition('@')[2])>0 and len(a.partition('@')[0])<21),emails]))

SyntaxError: invalid syntax (3828559030.py, line 2)

In [32]:
names = ['M2004Sam', 'F2001Riya', 'M1998Ani', 'F2005Diya']

In [ ]:
def club_entry(names):
    age_list =for i in names:[2022 - int(i[1:5])]#blank1
    entry = []
    for i in age_list:         
        if ______                 #blank2                
       entry.append('You can Enter')
    else:
      entry.append('No Entry for you')
  return entry

, i > 18:

In [33]:
sampleDict = { "class":{ "student":{ "name":"Mike", "marks":{ "physics":70, "history":80 } } } }

In [35]:
sampleDict['class']['student']['marks']['history']

80

In [42]:
arr= [(1,2),(2,3),(2,3),(1,2),(5,6)]

In [43]:
[ (a,b) for i, [a,b] in enumerate(arr) if not any (c==b for _, c in arr[ : i])]

[(1, 2), (2, 3), (5, 6)]

In [44]:
[ item for item in set (tuple(i) for i in arr )]

[(2, 3), (1, 2), (5, 6)]

In [45]:
list (set ( [ i for i in arr ]))

[(2, 3), (1, 2), (5, 6)]

In [46]:
{x : x**2 for x in range(1, 6)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [47]:
lis = [(0, 2), (1, 3), (2, 4)]
result = sum (n for _, n in lis)
print(result)

9

In [49]:
[n for _, n in lis]

[2, 3, 4]

In [56]:
for n in lis:
    print(_)

(2, 4)
(2, 4)
(2, 4)

In [57]:
arr = [a+" "+b for a in [ ‘Hello’, ‘Good’] for b in [‘Dear’, ‘Bye’]]
print(arr)

SyntaxError: invalid character '‘' (U+2018) (2328968599.py, line 1)

In [58]:
def func2(c, d):
    return c, d

def func1(a, b):
    c = a**1
    d = b**2
    return lambda: func2(c,d)

result = func1(1, 2)

print(result())

(1, 4)

In [59]:
odd=lambda x: bool(x%2)
result=[n for n in range(10)]

for i in result:
    if odd(i):
        continue       
    else:
        print(i, end=" ")

0 2 4 6 8

In [62]:
array  = [1, 2, 3, 4, 5]
def func1(x):
    return x<0
result=filter(func1, array)
print(list(result))

[]

In [63]:
list(filter(lambda x:x<0, array))

[]

In [64]:
list(filter(lambda x, y: x<0,array))

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [65]:
list(filter(reduce x<0, array))

SyntaxError: invalid syntax (2189658125.py, line 1)

In [66]:
list(reduce(x: x<0, array))

SyntaxError: invalid syntax (88625848.py, line 1)

In [1]:
a=[1,[2,3],4,5]
result = lambda x: list(map(lambda y:2*y, x)) 
print(result(a))

[2, [2, 3, 2, 3], 8, 10]

In [10]:
ids=["Sam@gmail.com", "Ram@gmail.com", "Sam@gmail.com", "samJohnson@iit.com", "SAM@harvard.com"]
name="sam"
result = list(filter(lambda x : name.lower() in x or name.upper() in x, ids))
print(result)

['samJohnson@iit.com', 'SAM@harvard.com']

In [9]:
ids=["Sam@gmail.com", "Ram@gmail.com", "Sam@gmail.com", "samJohnson@iit.com", "SAM@harvard.com"]
name="sam"
result = list(filter(lambda x : (name.lower() or name.upper()) in x , ids))
print(result)

['samJohnson@iit.com']

In [11]:
ids=["Sam@gmail.com", "Ram@gmail.com", "Sam@gmail.com", "samJohnson@iit.com", "SAM@harvard.com"]
name="sam"
result = list(filter(lambda x : name.lower() in x and name.upper() in x, ids))
print(result)

[]

In [12]:
ids=["Sam@gmail.com", "Ram@gmail.com", "Sam@gmail.com", "samJohnson@iit.com", "SAM@harvard.com"]
name="sam"
result = list(filter(lambda x : (name.lower() and name.upper()) in x, ids))
print(result)

['SAM@harvard.com']

In [14]:
arr = ['php', "w3r", "python", "aaa", "java"]

[<function __main__.<lambda>(x)>, ['php', 'w3r', 'python', 'aaa', 'java']]

In [19]:
list(filter(lambda x: x in arr, str))

TypeError: 'type' object is not iterable

In [25]:
column_names = ['name', 'salary', 'job']
db_rows = [('Alice', 180000, 'data scientist'),
           ('Bob', 99000, 'data engineer'),
           ('Frank', 87000, 'data analyst')]

db = [dict(zip(column_names, row)) for row in db_rows]
print(db)

[{'name': 'Alice', 'salary': 180000, 'job': 'data scientist'}, {'name': 'Bob', 'salary': 99000, 'job': 'data engineer'}, {'name': 'Frank', 'salary': 87000, 'job': 'data analyst'}]

Required Output: [{'name': 'Alice', 'salary': 180000, 'job': 'data scientist'}, {'name': 'Bob', 'salary': 99000, 'job': 'data engineer'}, {'name': 'Frank', 'salary': 87000, 'job': 'data analyst'}]

In [26]:
import functools
lists = [1,2,3,4]
print(functools.reduce(lambda x,y : x if x > y else y ,lists))

4

In [34]:
sentence = "abc cde def"
result = list(map(lambda x: list(x), sentence))
print(result)

[['a'], ['b'], ['c'], [' '], ['c'], ['d'], ['e'], [' '], ['d'], ['e'], ['f']]

In [35]:
sentence = "abc cde def"
result = list(map(lambda x: list(x), sentence.split(" ")))
print(result)

[['a', 'b', 'c'], ['c', 'd', 'e'], ['d', 'e', 'f']]

In [30]:
sentence.split(" ")

['abc', 'cde', 'def']

In [32]:
sentence.split("")

ValueError: empty separator